<div id="header">

  <!--<h1>Lincolnix Learning Center</h1>-->

  <%= render 'layouts/navigation' %>
</div>

<!--<div class="gradient" style="height:800px;opacity:0.6; position:relative;top:2px;z-index:10;"></div>-->
